# For security-ms
SERVER_PORT=8080
API_ENDPOINT=/api/security
API_VERSION=/v1
APPLICATION_NAME=security-ms
DB_POOL_ENALBE=true
DB_POOL_INIT_SIZE=10
DB_POOL_MAX_SIZE=20
DB_URL=r2dbc:mysql://host.docker.internal:3306/user #Schema: r2dbc:mysql://<hostname>:<port>/<db_name>
DB_NAME=user
DB_USER=security_ms
DB_PASSWORD=123
EUREKA_CLIENT_ENABLE=false
EUREKA_SERVER_URL=http://host.docker.internal:8761/eureka/ #Schema: http://<hostname>:<port>/eureka/
EUREKA_CLIENT_HEARTBEAT=30
EUREKA_CLIENT_INSTANCE_REPLICATION_INTERVAL=60
EUREKA_CLIENT_LEASE_EXPIRATION_DURATION=90
EUREKA_INSTANCE_PREFER_IP_ADDR=true
SECURE_API=false #false= publicly available | true= ROLE_DEVELOPER
#SECURE_ACTUATORS  # List of secure actuators eg: /actuator/env,/actuator/info
#NB! Must leave /actuator/health public to be access by HEALTHCHECK
JWT_SECRET=Ci2A4wfPvZJ12KKOgPaHT9zEgT4/Mh3ZtaMoxMlAZtQ=
